<h2>Product Page</h2>
<hr />
<h2>Productos:</h2>
<h3>Bienvenido:{{user.nombre}}--- su rol es :{{user.rol}}--- <a href="/cart/{{user.cart._id}}">ir al carrito</a></h3>
 {{#if error}}
        <div style="color: red;">{{error}}</div>
    {{/if}}
<ul>
  {{#each productos}}
     <form action="/products/{{this._id}}" method="post">
 
    <button style="color:red" type="submit">Eliminar</button>
  </form>
    <li>nombre:{{this.title}}</li>
     <li>$:{{this.price}}</li>
       <form action="/carts/{{../user.cart._id}}/products/{{this._id}}" method="post">
    <input type="number" name="quantity" min="1" value="1">
    <button type="submit">Agregar al carrito</button>
  </form>
  {{/each}}
</ul>

<br /><br />
<a href="/products/?pagina=1">Pág.1</a>

{{#if hasPrevPage}}
  <a href="/products/?pagina={{prevPage}}">Pág.Ant.</a>
{{else}}
  <span>Pág.Ant.</span>
{{/if}}

{{#if hasNextPage}}
  <a href="/products/?pagina={{nextPage}}">Pág.Sig.</a>
{{else}}
  <span>Pág.Sig.</span>
{{/if}}

<a href="/products/?pagina={{totalPages}}">Ult.Pág.</a>
<br /><br />
<br /><br />
<a href="/realtimeproducts">Real time Products</a>
<a href="/chat">Chat</a>
<a href="/carts">Cart</a>
<a href="/">Home</a>
{{>menu}}